services:
  web:
    image: nginx:1.28.0
    container_name: nginx
    volumes:
      - ./docker/conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
    ports:
      - "${PROJECT_PORT}:80"
    restart: always
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: php-fpm
    restart: always
    volumes:
      - ./docker/conf/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - .:/var/www/html
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17-alpine
    container_name: database
    restart: always
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./docker/postgres/pgdata:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 10s